.texto-encima{
    position: absolute;
    top: 330px;
    left: 10px;
    color:#e6dbdb;
  }
  
  .texto-encima2{
    position: absolute;
    top: 370px;
    left: 10px;
    color:#e6dbdb;
  }
  
  .texto-encima3{
    position: absolute;
    top: 410px;
    left: 10px;
    color:#e6dbdb;
  }
  
  .my-custom-class {
    --background: #222;
    --spinner-color: #fff;
  
    color: #fff;
  }
  